app/js/components/home/home.pug
- var feat = "{{ctrl.char.feature[0]}}";
- var race = "{{ctrl.char.sub || ctrl.char.race}}";
- var key = "{{key}}";
- var s = "\t";
.panel.panel-primary
	.panel-heading
		span.h3 Welcome to the 5th Edition Character Quick-Gen!
	.panel-body
		.panel-body
			form(ng-submit="ctrl.regenerate(ctrl.selectionBg, ctrl.selectionRa, ctrl.selectionCl)")
				label Choose a Background:
				|!{s}
				select.form-control(ng-options="background for background in ctrl.backgrounds" ng-model="ctrl.selectionBg")
				|!{s}
				label Choose a Race:
				|!{s}
				select.form-control(ng-options="race for race in ctrl.races" ng-model="ctrl.selectionRa")
				|!{s}
				label Choose a Class:
				|!{s}
				select.form-control(ng-options="class for class in ctrl.classes" ng-model="ctrl.selectionCl")
				|!{s}
				button.btn.btn-success(type='submit') Generate
		//- Left Side
		.col-md-6.col-sm-12.col-xs-12.pull-left
			//- Background panel
			.panel.panel-primary
				.panel-heading
					label Background
				.panel-body
					dl.dl-horizontal
						dt Upbringinging:
						dd {{ctrl.char.background}}
						dt Feature:
						dd
							button.btn.btn-xs.btn-default(type="button" data-toggle="collapse" data-target="#bgFeatureText").
								#[strong !{feat}] -  Click for Details
							#bgFeatureText.collapse {{ctrl.char.feature[1]}}
						div(ng-if="ctrl.background.extra")
							dt {{ctrl.char.specialty[0]}}:
							dd {{ctrl.char.specialty[1]}}
						dt Personality Trait:
						dd {{ctrl.char.trait}}
						dt Ideal:
						dd
							strong {{ctrl.char.ideal[0]}}!{s}
							|{{ctrl.char.ideal[1]}}!{s}
							em ({{ctrl.char.ideal[2]}})
						dt Bond:
						dd {{ctrl.char.bond}}
						dt Flaw:
						dd {{ctrl.char.flaw}}
		//- Right Side
		.col-md-6.col-sm-12.col-xs-12.pull-right
			//- General panel
			.panel.panel-primary
				.panel-heading
					label Character
				.panel-body
					dl.dl-horizontal
						dt Name:
						dd {{ctrl.char.name}}
						dt Gender:
						dd {{ctrl.char.gender}}
						dt Race:
						dd
							button.btn.btn-xs.btn-default(class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#raFeatureText").
								#[strong !{race}] - Click for Details
							#raFeatureText.collapse {{ctrl.char.radesc}}
						dt Class:
						dd {{ctrl.char.class}}
						dt Speed:
						dd {{ctrl.char.speed}} ft/round
						dt Age:
						dd {{ctrl.char.age}} years old ({{ctrl.char.ageMin}}/{{ctrl.char.ageMax}})
						dt Ability Modifiers:
						dd(ng-repeat="(key, value) in ctrl.char.ability") {{key}}: +{{value}}
						dt Racial Traits:
						dd(ng-repeat="(key, value) in ctrl.char.racials track by $index")
							button.btn.btn-xs.btn-default(type="button" data-toggle="collapse" data-target="#raRacialText{{$index}}").
								#[strong !{key}] - Click for Details
							.collapse(id="raRacialText{{$index}}") {{value}}
			//- Profiency panel
			.panel.panel-primary
				.panel-heading
					label Profiencies
				.panel-body
					dl.dl-horizontal
						dt Skills:
						dd(ng-repeat="skill in ctrl.char.skills track by $index") {{skill}}
						dt Tools:
						dd(ng-hide="ctrl.char.tools[0]") none
						dd(ng-show="ctrl.char.tools[0]" ng-repeat="tool in ctrl.char.tools track by $index") {{tool}}
			//- Other panel
			.panel.panel-primary
				.panel-heading
					label Other
				.panel-body
					dl.dl-horizontal
						dt Extra Languages:
						dd(ng-repeat="language in ctrl.char.languages track by $index") {{language}}
						dt Equipment:
						dd(ng-repeat="item in ctrl.char.equipment track by $index") {{item}}

app/js/components/home/home.html
<div class="panel panel-primary"><div class="panel-heading"><span class="h3">Welcome to the 5th Edition Character Quick-Gen!</span></div><div class="panel-body"><div class="panel-body"><form ng-submit="ctrl.regenerate(ctrl.selectionBg, ctrl.selectionRa, ctrl.selectionCl)"><label>Choose a Background:</label>	<select class="form-control" ng-options="background for background in ctrl.backgrounds" ng-model="ctrl.selectionBg"></select>	<label>Choose a Race:</label>	<select class="form-control" ng-options="race for race in ctrl.races" ng-model="ctrl.selectionRa"></select>	<label>Choose a Class:</label>	<select class="form-control" ng-options="class for class in ctrl.classes" ng-model="ctrl.selectionCl"></select>	<button class="btn btn-success" type="submit">Generate</button></form></div><div class="col-md-6 col-sm-12 col-xs-12 pull-left"><div class="panel panel-primary"><div class="panel-heading"><label>Background</label></div><div class="panel-body"><dl class="dl-horizontal"><dt>Upbringinging:</dt><dd>{{ctrl.char.background}}</dd><dt>Feature:</dt><dd><button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#bgFeatureText"><strong>{{ctrl.char.feature[0]}}</strong> -  Click for Details</button><div class="collapse" id="bgFeatureText">{{ctrl.char.feature[1]}}</div></dd><div ng-if="ctrl.background.extra"><dt>{{ctrl.char.specialty[0]}}:</dt><dd>{{ctrl.char.specialty[1]}}</dd></div><dt>Personality Trait:</dt><dd>{{ctrl.char.trait}}</dd><dt>Ideal:</dt><dd><strong>{{ctrl.char.ideal[0]}}	</strong>{{ctrl.char.ideal[1]}}	<em>({{ctrl.char.ideal[2]}})</em></dd><dt>Bond:</dt><dd>{{ctrl.char.bond}}</dd><dt>Flaw:</dt><dd>{{ctrl.char.flaw}}</dd></dl></div></div></div><div class="col-md-6 col-sm-12 col-xs-12 pull-right"><div class="panel panel-primary"><div class="panel-heading"><label>Character</label></div><div class="panel-body"><dl class="dl-horizontal"><dt>Name:</dt><dd>{{ctrl.char.name}}</dd><dt>Gender:</dt><dd>{{ctrl.char.gender}}</dd><dt>Race:</dt><dd><button class="btn btn-xs btn-default btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#raFeatureText"><strong>{{ctrl.char.sub || ctrl.char.race}}</strong> - Click for Details</button><div class="collapse" id="raFeatureText">{{ctrl.char.radesc}}</div></dd><dt>Class:</dt><dd>{{ctrl.char.class}}</dd><dt>Speed:</dt><dd>{{ctrl.char.speed}} ft/round</dd><dt>Age:</dt><dd>{{ctrl.char.age}} years old ({{ctrl.char.ageMin}}/{{ctrl.char.ageMax}})</dd><dt>Ability Modifiers:</dt><dd ng-repeat="(key, value) in ctrl.char.ability">{{key}}: +{{value}}</dd><dt>Racial Traits:</dt><dd ng-repeat="(key, value) in ctrl.char.racials track by $index"><button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#raRacialText{{$index}}"><strong>{{key}}</strong> - Click for Details</button><div class="collapse" id="raRacialText{{$index}}">{{value}}</div></dd></dl></div></div><div class="panel panel-primary"><div class="panel-heading"><label>Profiencies</label></div><div class="panel-body"><dl class="dl-horizontal"><dt>Skills:</dt><dd ng-repeat="skill in ctrl.char.skills track by $index">{{skill}}</dd><dt>Tools:</dt><dd ng-hide="ctrl.char.tools[0]">none</dd><dd ng-show="ctrl.char.tools[0]" ng-repeat="tool in ctrl.char.tools track by $index">{{tool}}</dd></dl></div></div><div class="panel panel-primary"><div class="panel-heading"><label>Other</label></div><div class="panel-body"><dl class="dl-horizontal"><dt>Extra Languages:</dt><dd ng-repeat="language in ctrl.char.languages track by $index">{{language}}</dd><dt>Equipment:</dt><dd ng-repeat="item in ctrl.char.equipment track by $index">{{item}}</dd></dl></div></div></div></div></div>
